extends layout

block content
  .title topfoos
  .message How do you want to hear?
  .buttongroup
    .button-container
      a.button(href="/l/select") Boxcar
      a.info ?!?!
    a.button(href="/l/select") SMS
    a.button(href="/l/select") Email
  footer know your table
